<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        input {
            outline: none;
        }

        .search-box {
            width: 350px;
            display: flex;
            flex-direction: column;
        }

        .search-box .results {
            display: flex;
            flex-direction: column;
        }

        .results span {
        }
    </style>
</head>
<body>
    <a href="/logout">Logout</a>
    <div class="search-box">
        <input type="text" name="" id="search">
        <div class="results">
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
    <script>
        const socket = io()

        //socket.on('new msg', msg => {
        //    $('#chats').append(msg + '<br>')
        //})

        $(document).ready(() => {
            $('#search').bind('keyup', e => {
                fetch('/search/user?name='+$('#search').val())
                .then(res => {
                    res.text().then(body => {
                        const json = JSON.parse(body)
                        if (json.length == 0) {
                            $('.results').empty()
                        } else {
                            json.forEach(result => {
                                $('.results').empty()
                                $('.results').append($(`<li><a href="/chat/${result.uuid}">${result.username}#${result.id}</a></li>`))
                            })
                        }
                    })
                })
                .catch(error => {
                    console.error(error)
                })
            })
        })

    </script>
</body>
</html>